{% extends "../index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('vendor/bootstrap/dist/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ static_url('vendor/font-awesome/css/font-awesome.css') }}">
<link rel="stylesheet" href="{{ static_url('css/init.css') }}">
<link rel="stylesheet" href="{{ static_url('css/skin-blue.css') }}">
{% end %}

{% block title %}
{{ escape(handler.settings["title"]) }} | {{ page['title'] }}
{% end %}

{% block js %}
<script src="{{ static_url('vendor/jquery/dist/jquery.js') }}"></script>
<script src="{{ static_url('vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ static_url('js/init.js') }}"></script>
{% end %}

{% block content %}
<section class="content-header">
    <h1>
        {{ page['title'] }}
        <small>{{ page['description'] }}</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Home</li>
    </ol>
</section>

<section class="content">

</section>
{% end %}