<div class="modal-content">
    <div class="modal-header" style="text-align:left;">

        <div class="box-tools pull-right">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i>
            </button>
        </div>
        <h4 class="modal-title">{{ info['sendername'] }}</h4>
        <p>{{ info['nomorberkas'] }}/{{ info['tahunberkas'] }}, Tanggal. {{ info['senddate'].strftime('%d/%m/%Y, %H:%M:%S') }}</p>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="formSendRegister">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dikirim">Dikirim:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="dikirim" name="dikirim" class="select2 form-control" style="width: 100%;">
                        <option value=""></option>
                        {% for d in users %}
                            <option value="{{ d['_id'] }}">{{d['nama']}}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="messange">Pesan:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <textarea name="messange" id="messange" class="form-control" cols="10" rows="10"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
    </div>
</div>

<script>
    $("#dikirim").select2({
        placeholder: "Pilih karyawan",
        theme: "bootstrap",
        allowClear: true
    });
</script>