<div class="callout bg-gray" style="margin-bottom: 0!important;">
    <h4><i class="fa fa-info"></i> Note:</h4>
    <strong>From</strong>: <br>
    {{ node['sendername'] }} ,Tgl.{{ node['senderdate'].strftime('%d/%m/%Y, %H:%M:%S') }} <br>
    <strong>Messange</strong>:<br>
    {{ node['messange'] }}
</div>

<section class="box box-solid">
    <div class="box-header with-border text-center">
        <h3 class="box-title">
        {% if register['status'] == 'PROSES' %}
            <a class="btn btn-app bg-yellow" data-toggle="modal" data-target="#modal-messange">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Berkas
            </a>
        {% end %}
        {% if status_regout == True %}
            <a class="btn btn-app bg-red" data-toggle="modal" data-target="#modal-finnish">
                <i class="fa fa-font-awesome" aria-hidden="true"></i> Finnish
            </a>
        {% end %}
            <a class="btn btn-app bg-green" id="btnKembali" name="btnKembali">
                <i class="fa fa-undo" aria-hidden="true"></i> Kembali
            </a>
        </h3>
    </div>

    <div class="box-body">
        <input type="hidden" name="berkasid" value="{{ register['_id'] }}">
        <input type="hidden" name="nodeid" value="{{ node['_id'] }}">
        <div class="row">
            <div class="col-sm-4">
                <strong>Kantor :</strong> <address>{{ office['nama'].upper() }}</address>
                <strong>Nomor Berkas :</strong> <address>{{ register['nomorberkas'] }} / {{ register['tahunberkas'] }}</address>
                <strong>Region :</strong> <address>KEC. {{ register['kecamatannama'] }}, DS/KEL.{{ register['desanama'] }}</address>
                <strong>Kegiatan :</strong> <address>{{ register['kegiatan'] }}, {{ register['prosedur'] }}</address>
            </div>
            <div class="col-sm-4">
                <strong>Pemohon Berkas :</strong> <address>{{ pemohon['nama'] }} </address>
                <strong>Register Masuk :</strong><address>{{ register['userregisterinname'] }}</address>
                <strong>Tanggal Register</strong><address>Tgl.{{ register['userregisterindate'].strftime('%d/%m/%Y') }}</address>
                <strong>Tanggal Diterima :</strong> <address>{{ node['recievedate'].strftime('%d/%m/%Y, %H:%M:%S') }}</address>
            </div>
            <div class="col-sm-4">
                <strong>Phone :</strong> <address>{{ register['phone'] }}</address>
                <strong>Email :</strong> <address>{{ register['email'] }}</address>
                <strong>Status :</strong><address>{{ register['status'] }}</address>
                <strong>Keterangan :</strong><address>{% if 'keterangan' in register.keys() %}{{ register['keterangan'] }}{% end %}</address>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5> <strong>DAFTAR ISIAN:</strong> </h5>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" role="grid">
                        <tbody>
                            <tr class="bg-gray">
                                <th class="text-center">Daftar Isian</th>
                                <th class="text-center">Nomor</th>
                                <th class="text-center">Tanggal</th>
                            </tr>
                            {% if register['daftarisian'] != None %}
                                {% for d in register['daftarisian'] %}
                                <tr>
                                    <td class="text-center">{{ d['typediid'] }}</td>
                                    <td class="text-center">{{ d['description'].split("-")[1].split(" No.")[1] }}</td>
                                    <td class="text-center">{{ d['description'].split("-")[1].split(", ")[0].split("Tgl. ")[1] }}</td>
                                </tr>
                                {% end %}
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5> <strong>PRODUK:</strong> </h5>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" role="grid">
                        <tbody>
                            <tr class="bg-gray">
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th class="text-center">Produk</th>
                                <th class="text-center">Nomor</th>
                                <th class="text-center">Desa</th>
                            </tr>
                            {% if register['document'] != None %}
                                {% for p in register['document'] %}
                                <tr>
                                    {% if p['type'] == 'STP' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">SURAT TUGAS PENGUKURAN</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'PERSIL' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">NIB</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'GU' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">GAMBAR UKUR</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'SU' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">SURAT UKUR</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'HAK' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">BUKU TANAH</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% end %}
                                </tr>
                                {% end %}
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% if register['status'] == 'PROSES' %}
<div class="modal fade" id="modal-messange" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:left;">
                <div class="box-tools pull-right">
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i>
                    </button>
                </div>
                <h4 class="modal-title"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send Berkas</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formSendMessange" method="PUT">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="petugas">Petugas:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="petugas" name="petugas" class="select2 form-control" style="width: 100%;">
                                <option value=""></option>
                                {% for p in petugas %}
                                    <option value="{{ p['_id'] }}">{{ p['nama'].upper() }}</option>
                                {% end %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="pesan">Pesan:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea name="pesan" id="pesan" class="form-control" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <div class="pull-right">
                                <button type="submit" id="btnSimpan" name="btnSimpan" class="btn btn-warning btn-flat"><i class="fa fa-paper-plane" aria-hidden="true"></i> Kirim</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}
{% if status_regout == True %}
<div class="modal fade" id="modal-finnish" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:left;">
                <div class="box-tools pull-right">
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i>
                    </button>
                </div>
                <h4 class="modal-title"><i class="fa fa-font-awesome" aria-hidden="true"></i> Berkas Keluar</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formFinnishMessange" method="POST">
                    <input type="hidden" name="userid" id="userid" value="">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="username">Username:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="input-group input-group-md">
                                <input type="text" class="form-control" id="username" name="username">
                                <span class="input-group-btn">
                                    <button id="btnFindPegawai" type="button" class="btn btn-success btn-flat"> <i class="fa fa-filter" aria-hidden="true"></i> Cari Pegawai</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="pegawaiid">PegawaiID:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="pegawaiid" name="pegawaiid" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="namapegawai">Nama:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="namapegawai" name="namapegawai" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="pesanfinnish">Pesan:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea name="pesanfinnish" id="pesanfinnish" class="form-control" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <div class="pull-right">
                                <button type="submit" id="btnFinnish" name="btnFinnish" class="btn btn-danger btn-flat"><i class="fa fa-paper-plane" aria-hidden="true"></i> Simpan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}
<script>

    $("#btnFindPegawai").click(function () {
        $.ajax({
            type: 'GET',
            url: '/kkp/pegawai/username=' + $('#username').val(),
            async: true,
            headers: { 'X-XSRFToken': $('input[name="_xsrf"]').val() },
            success: (function (result) {
                console.log(result);
                if(result.status){
                    $('#userid').val(result.data.userid);
                    $('#pegawaiid').val(result.data.pegawaiid);
                    $('#namapegawai').val(result.data.nama);
                }
            }),
            error: (function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error: " + errorThrown);
            })
        });

    });


    $("#btnKembali").click(function () {
        location.reload(true);
    });

    $('#petugas').on('change', function () {
        $(this).valid();
    });
    
    $("#petugas").select2({
        placeholder: "Pilih petugas",
        theme: "bootstrap",
        allowClear: true
    });

    $('#petugaspenerima').on('change', function () {
        $(this).valid();
    });
    
    $("#petugaspenerima").select2({
        placeholder: "Pilih petugas",
        theme: "bootstrap",
        allowClear: true
    });

    $('#formFinnishMessange').validate({
        rules: {
            pegawaiid: {
                required: true,
            },
            namapegawai: {
                required: true,
            },
            userid:{
                required: true,
            }
        },
        messages: {
            pegawaiid: {
                required: 'Pegawaiid wajib diisi.',
            },
            namapegawai: {
                required: 'Nama pegawai wajib diisi.',
            },
            userid: {
                required: 'Userid wajib diisi.',
            }
        },
        errorElement: "small",
        highlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.form-group').removeClass('has-error');
        }, errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
                error.insertAfter(element.parent().parent());
            }
            else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                error.appendTo(element.parent().parent());
            }
            else if (element.hasClass('select2') && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (data) {
            $('#modal-finnish').modal('hide');
            $.ajax({
                type: 'POST',
                url: '/register/finnish/save',
                data: JSON.stringify({
                    berkasid: $('input:hidden[name=berkasid]').val(),
                    nodeid: $('input:hidden[name=nodeid]').val(),
                    penerimaid: $('input:hidden[name=userid]').val(),
                    namapenerima: $('#namapegawai').val(),
                    pesan: $('#pesanfinnish').val(),
                }),
                async: true,
                headers: { 'X-XSRFToken': $('input[name="_xsrf"]').val() },
                success: (function (result) {
                    if(result.status){
                        bootbox.alert({
                            message: result.msg,
                            size: 'medium',
                            callback: function () {
                                location.reload(true);
                            }
                        });
                    }
                }),
                error: (function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error: " + errorThrown);
                })
            });
        }
    });

    $('#formSendMessange').validate({
        rules: {
            petugas: {
                required: true,
            }
        },
        messages: {
            petugas: {
                required: 'Petugas wajib diisi.',
            }
        },
        errorElement: "small",
        highlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.form-group').removeClass('has-error');
        }, errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
                error.insertAfter(element.parent().parent());
            }
            else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                error.appendTo(element.parent().parent());
            }
            else if (element.hasClass('select2') && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function() {
            $('#modal-messange').modal('hide');
            $.ajax({
                type: 'PUT',
                url: '/register/inbox/save',
                data: JSON.stringify({
                    berkasid: $('input:hidden[name=berkasid]').val(),
                    nodeid: $('input:hidden[name=nodeid]').val(),
                    petugasid: $('#petugas').val(),
                    pesan: $('#pesan').val(),
                }),
                async: true,
                headers: { 'X-XSRFToken': $('input[name="_xsrf"]').val() },
                success: (function (result) {
                    bootbox.alert({
                        message: result.msg,
                        size: 'medium',
                        callback: function () {
                            location.reload(true);
                        }
                    });
                }),
                error: (function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error: " + errorThrown);
                })
            });
        }
    });
</script>