<div id="formBerkasMasuk" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">Simponi:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="text-center">Kode Billing</th>
                            <th class="text-center">Biaya</th>
                            <th class="text-center">NTPN</th>
                            <th class="text-center">Tanggal Kadaluarsa</th>
                            <th class="text-center">Tanggal Bayar</th>
                        </tr>
                        {% if simponi != None %}
                        {% for s in simponi %}
                        <tr>
                            <td class="text-center">{{ s['kodebilling'] }}</td>
                            <td class="text-center">{{ s['biaya'] }}</td>
                            <td class="text-center">{{ s['ntpn'] }}</td>
                            <td class="text-center">{{ s['expiredate'] }}</td>
                            {% if s['buydate'] != "" %}
                            <td class="text-center">{{ datetime.datetime.strptime(s['buydate'],
                                '%Y-%m-%dT%H:%M:%S%z').strftime('%d-%m-%Y, %H:%M:%S') }}</td>
                            {% end%}
                        </tr>
                        {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">Daftar Isian:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="text-center">Daftar Isian</th>
                            <th class="text-center">Nomor</th>
                            <th class="text-center">Tanggal</th>
                        </tr>
                        {% if daftarisian != None %}
                            {% for d in daftarisian %}
                            <tr>
                                <td class="text-center">{{ d['typediid'] }}</td>
                                <td class="text-center">{{ d['description'].split("-")[1].split(" No.")[1] }}</td>
                                <td class="text-center">{{ d['description'].split("-")[1].split(", ")[0].split("Tgl.
                                    ")[1] }}</td>
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">Produk:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                            <th class="text-center">Produk</th>
                            <th class="text-center">Nomor</th>
                            <th class="text-center">Desa</th>
                            <th class="text-center">View</th>
                        </tr>
                        {% if produk != None %}
                        {% for p in produk %}
                        <tr>
                            {% if p['type'] == 'STP' %}
                            <td style="display:none">{{ p['documentid'] }}</td>
                            <td style="display:none">{{ p['type'] }}</td>
                            <td class="text-center">Surat Tugas Pengukuran</td>
                            <td class="text-center">{{ p['nomor'] }}</td>
                            <td class="text-center">{{ p['wilayah'] }}</td>
                            <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye"
                                        aria-hidden="true"></i></a>
                            </td>
                            {% elif p['type'] == 'PERSIL' %}
                            <td style="display:none">{{ p['documentid'] }}</td>
                            <td style="display:none">{{ p['type'] }}</td>
                            <td class="text-center">NIB</td>
                            <td class="text-center">{{ p['nomor'] }}</td>
                            <td class="text-center">{{ p['wilayah'] }}</td>
                            <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye"
                                        aria-hidden="true"></i></a>
                            </td>
                            {% elif p['type'] == 'GU' %}
                            <td style="display:none">{{ p['documentid'] }}</td>
                            <td style="display:none">{{ p['type'] }}</td>
                            <td class="text-center">GAMBAR UKUR</td>
                            <td class="text-center">{{ p['nomor'] }}</td>
                            <td class="text-center">{{ p['wilayah'] }}</td>
                            <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye"
                                        aria-hidden="true"></i></a>
                            </td>
                            {% elif p['type'] == 'SU' %}
                            <td style="display:none">{{ p['documentid'] }}</td>
                            <td style="display:none">{{ p['type'] }}</td>
                            <td class="text-center">SURAT UKUR</td>
                            <td class="text-center">{{ p['nomor'] }}</td>
                            <td class="text-center">{{ p['wilayah'] }}</td>
                            <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye"
                                        aria-hidden="true"></i></a>
                            </td>
                            {% elif p['type'] == 'HAK' %}
                            <td style="display:none">{{ p['documentid'] }}</td>
                            <td style="display:none">{{ p['type'] }}</td>
                            <td class="text-center">Buku Tanah</td>
                            <td class="text-center">{{ p['nomor'] }}</td>
                            <td class="text-center">{{ p['wilayah'] }}</td>
                            <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye"
                                        aria-hidden="true"></i></a>
                            </td>
                            {% end %}
                        </tr>
                        {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>

</script>