<form id="formBerkasMasuk" class="form-horizontal" role="form" method="POST">
    {% module xsrf_form_html() %}

    <input type="hidden" name="berkasid" value="{{ info['_id'] }}">
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
            <div class="pull-right">
                <button type="submit" id="btnSimpan" name="btnSimpan" class="btn btn-primary btn-md btn-flat"><i class="fa fa-floppy-o" aria-hidden="true"></i> Register Berkas</button>
                <button type="button" id="btnBatal" name="btnBatal" class="btn btn-danger btn-flat"> Batal</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="nomorBerkas">Nomor Berkas:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="nomorBerkas" id="nomorBerkas" class="form-control" value="{{ info['nomor']  }} / {{ info['tahun'] }},  {{ office['nama'].upper() }}" readonly>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="desaAlasHak">Desa:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="desaAlasHak" name="desaAlasHak" class="select2 form-control" style="width: 100%;">
                <option value=""></option>
                {% for d in desa %}
                    <option value="{{ d['_id'] }}">{{d['kode']}} - {{ d['nama'].upper() }}, {{ d['wilayahinduk']['nama'] }}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="createBerkas">Pendaftaran:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="createBerkas" id="createBerkas" class="form-control" value="Tgl.{{ datetime.datetime.strptime(info['createdate'], '%Y-%m-%dT%H:%M:%S%z').strftime('%d/%m/%Y, %H:%M:%S')  }}  -  Tgl.{% if info['startdate'] != '0001-01-01T00:00:00Z' %}{{ datetime.datetime.strptime(info['startdate'], '%Y-%m-%dT%H:%M:%S%z').strftime('%d/%m/%Y, %H:%M:%S')  }} {% end %}" readonly>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="statusRegister">Status Register:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="statusRegister" name="statusRegister" class="select2 form-control" style="width: 100%;">
                <option value=""></option>
                {% for s in status %}
                    <option value="{{ s['code'] }}"> {{ s['description'] }} </option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="prosedurBerkas">Kegiatan:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="prosedurBerkas" id="prosedurBerkas" class="form-control" value="{{ info['prosedur'] }}" readonly>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="pemohonBerkas">Pemohon:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="pemohonBerkas" id="pemohonBerkas" class="form-control" value="{{ info['pemohon'] }}   {% if pemilik == [] %}
                                                                                                                           An. {{ info['pemohon'] }}
                                                                                                                           {% else %}
                                                                                                                               An. 
                                                                                                                               {% for p in pemilik %}
                                                                                                                                   {% if len(pemilik) > 1  %}
                                                                                                                                       {{ p['nama'] }}, 
                                                                                                                                   {% elif len(pemilik) == 1 %}
                                                                                                                                       {{ p['nama'] }}
                                                                                                                                   {% end %}
                                                                                                                               {% end %}
                                                                                                                           {% end %}" " readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="statusBerkas">Status:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="statusBerkas" id="statusBerkas" class="form-control" value="{{ info['kegiatan'].upper() }} , {% if info['status'] == '1' %}PROSES{% elif info['status'] == '0' %}SELESAI {% if info['finnishdate'] != '0001-01-01T00:00:00Z' %}  Tgl.{{ datetime.datetime.strptime(info['finnishdate'], '%Y-%m-%dT%H:%M:%S%z').strftime('%d/%m/%Y, %H:%M:%S')  }}{% end %}{% end %}" readonly>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="phoneBerkas">Phone:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="phoneBerkas" id="phoneBerkas" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="pemilikBerkas">Posisi Berkas:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="pemilikBerkas" id="pemilikBerkas" class="form-control" value="{{ info['profile'] }} ({{ info['pegawai'] }})" readonly>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="emailBerkas">Email:</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="emailBerkas" id="emailBerkas" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="alasHak">Keterangan:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea name="keterangan" id="keterangan" class="form-control" cols="10" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">Simponi:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="text-center">Kode Billing</th>
                            <th class="text-center">Biaya</th>
                            <th class="text-center">NTPN</th>
                            <th class="text-center">Tanggal Kadaluarsa</th>
                            <th class="text-center">Tanggal Bayar</th>
                        </tr>
                        {% if simponi != None %}
                            {% for s in simponi %}
                            <tr>
                                <td class="text-center">{{ s['kodebilling'] }}</td>
                                <td class="text-center">{{ s['biaya'] }}</td>
                                <td class="text-center">{{ s['ntpn'] }}</td>
                                <td class="text-center">{{ s['expiredate'] }}</td>
                                {% if s['buydate'] != "" %}
                                    <td class="text-center">{{ datetime.datetime.strptime(s['buydate'], '%Y-%m-%dT%H:%M:%S%z').strftime('%d-%m-%Y, %H:%M:%S') }}</td>
                                {% end%}
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" >Daftar Isian:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="text-center">Daftar Isian</th>
                            <th class="text-center">Nomor</th>
                            <th class="text-center">Tanggal</th>
                        </tr>
                        {% if daftarisian != None %}
                            {% for d in daftarisian %}
                            <tr>
                                <td class="text-center">{{ d['typediid'] }}</td>
                                <td class="text-center">{{ d['description'].split("-")[1].split(" No.")[1] }}</td>
                                <td class="text-center">{{ d['description'].split("-")[1].split(", ")[0].split("Tgl. ")[1] }}</td>
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">Produk:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                            <th class="text-center">Produk</th>
                            <th class="text-center">Nomor</th>
                            <th class="text-center">Desa</th>
                            <th class="text-center">View</th>
                        </tr>
                        {% if produk != None %}
                            {% for p in produk %}
                            <tr>
                                {% if p['type'] == 'STP' %}
                                <td style="display:none">{{ p['documentid'] }}</td>
                                <td style="display:none">{{ p['type'] }}</td>
                                <td class="text-center">Surat Tugas Pengukuran</td>
                                <td class="text-center">{{ p['nomor'] }}</td>
                                <td class="text-center">{{ p['wilayah'] }}</td>
                                <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                {% elif p['type'] == 'PERSIL' %}
                                <td style="display:none">{{ p['documentid'] }}</td>
                                <td style="display:none">{{ p['type'] }}</td>
                                <td class="text-center">NIB</td>
                                <td class="text-center">{{ p['nomor'] }}</td>
                                <td class="text-center">{{ p['wilayah'] }}</td>
                                <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                {% elif p['type'] == 'GU' %}
                                <td style="display:none">{{ p['documentid'] }}</td>
                                <td style="display:none">{{ p['type'] }}</td>
                                <td class="text-center">GAMBAR UKUR</td>
                                <td class="text-center">{{ p['nomor'] }}</td>
                                <td class="text-center">{{ p['wilayah'] }}</td>
                                <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                {% elif p['type'] == 'SU' %}
                                <td style="display:none">{{ p['documentid'] }}</td>
                                <td style="display:none">{{ p['type'] }}</td>
                                <td class="text-center">SURAT UKUR</td>
                                <td class="text-center">{{ p['nomor'] }}</td>
                                <td class="text-center">{{ p['wilayah'] }}</td>
                                <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                {% elif p['type'] == 'HAK' %}
                                <td style="display:none">{{ p['documentid'] }}</td>
                                <td style="display:none">{{ p['type'] }}</td>
                                <td class="text-center">Buku Tanah</td>
                                <td class="text-center">{{ p['nomor'] }}</td>
                                <td class="text-center">{{ p['wilayah'] }}</td>
                                <td class="text-center"> <a class="btn btn-flat" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                {% end %}
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<script>

    // NOTE: Simpan Berkas
    $('#formBerkasMasuk').validate({
        rules: {
            desaAlasHak: {
                required: true,
            },
            statusRegister: {
                required: true,
            },
            phoneBerkas: {
                required: true
            }
        },
        messages: {
            desaAlasHak: {
                required: 'Desa wajib diisi.',
            },
            statusRegister: {
                required: 'Status register wajib diisi.',
            },
            phoneBerkas: {
                required: 'Nomor telp pemohon wajib diisi.'
            }
        },
        errorElement: "small",
        highlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.col-xs-12').addClass('has-error');
        },
        unhighlight: function (element, errorClass, validClass) {
            var elem = $(element);
            elem.closest('.col-xs-12').removeClass('has-error');
        }, errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
                error.insertAfter(element.parent().parent());
            }
            else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                error.appendTo(element.parent().parent());
            } 
            else if (element.hasClass('select2') && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function () {
            run_wait('.content');
            $.ajax({
                type: 'POST',
                url: '/register/berkas/masuk',
                data: JSON.stringify({
                    berkasid: $('[name="berkasid"]').val(),
                    desaid: $('#desaAlasHak').select2().val(),
                    status: $('#statusRegister').select2().val(),
                    phone: $('#phoneBerkas').val(),
                    email: $('#emailBerkas').val(),
                    keterangan: $('textarea:input[name=keterangan]').val(),
                }),
                async: true,
                headers: { 'X-XSRFToken': $('input[name="_xsrf"]').val() },
                success: (function (result) {
                    $('.content').waitMe("hide");
                    $.notify({
                        title: result.title,
                        message: result.msg,
                    }, {
                        type: result.type,
                        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                            '<span data-notify="title">{1}</span>' +
                            '<span data-notify="message">{2}</span>' +
                            '</div>',
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                        }
                    });

                    if (result.status){
                        $('#nomor').val("");
                        $('#tahun').val("");
                        $('#berkasView').load('/node/error/400');
                    }
                }),
                error: (function (XMLHttpRequest, textStatus, errorThrown) {
                    $('.content').waitMe("hide");
                    alert("Error: " + errorThrown);
                })
            });
        }
    });


    $("#statusRegister").select2({
        placeholder: "Pilih status register",
        theme: "bootstrap",
        allowClear: true
    });

    $("#desaAlasHak").select2({
        placeholder: "Pilih desa",
        theme: "bootstrap",
        allowClear: true
    });

    $('.select2').on('change', function () {
        $(this).valid();
    });

    /* Initial Loading */
    function run_wait(element) {
        $(element).waitMe({
            effect: 'bounce',
            text: '<b>Sedang proses...</b> <br> harap tunggu',
            bg: 'rgba(255,255,255,0.6)',
            color: '#000'
        });
    }
</script>