

<div class="box box-solid">

    <div class="box-header with-border">
       
        <h4 class="text-center">
            Informasi Pegawai (
            {% if count > 0 %}
                <small class="text-green">USER SUDAH TERDAFTAR</small>
            {% else %}
                <small class="text-red">USER BELUM TERDAFTAR</small>
            {% end %}
            )
        </h4>
    </div>

    <form class="form-horizontal" id="formSavePegawai">
        <div class="box-body">
            <input type="hidden" name="usernameid" value="{{ username }}">
            <input type="hidden" name="userid" value="{{ pegawai['userid'] }}">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pegawaiid">Pegawai ID :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control" id="pegawaiid" name="pegawaiid" value="{{ pegawai['pegawaiid']  }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nik">NIK :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control" id="nik" name="nik" value="{{ pegawai['nomoridentitas'] }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nama">Nama :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control" id="nama" name="nama" value="{{ pegawai['gelardepan'] if 'gelardepan' in pegawai else '' }} {{ pegawai['nama'] }} {{ pegawai['gelarbelakang'] if 'gelarbelakang' in pegawai else '' }}" readonly>
                </div>
            </div>
            {% if count == 0 %}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Phone :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ pegawai['phone'] if 'phone' in pegawai else '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email :</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control" id="email" name="email" value="{{ pegawai['email'] if 'email' in pegawai else ''}}">
                </div>
            </div>
            {% end %}
        </div>
        
        <div class="box-footer text-center">
            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            {% if count == 0 %}
                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-save"></i> Simpan</button>
            {% end %}
        </div>
    </form>
        
    {% if count == 0 %}
        <script>

            $("#formSavePegawai").validate({
                rules: {
                    password:{
                        required: true
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true
                    }
                },
                messages: {
                    password: {
                        required: 'Password wajib diisi'
                    },
                    email: {
                        required: 'Email wajib diisi.',
                        email: 'Masukkan alamat email yang valid.',
                    },
                    phone: {
                        required: 'Phone wajib diisi.'
                    }
                },
                errorElement: "small",
                highlight: function (element, errorClass, validClass) {
                    var elem = $(element);
                    elem.closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element, errorClass, validClass) {
                    var elem = $(element);
                    elem.closest('.form-group').removeClass('has-error');
                }, errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    }
                    else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
                        error.insertAfter(element.parent().parent());
                    }
                    else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                        error.appendTo(element.parent().parent());
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/administrator/daftarpegawai/pegawai/add',
                        data: JSON.stringify({
                            'userid': $('[name="userid"]').val(),
                            'pegawaiid': $('[name="pegawaiid"]').val(),
                            'username': $('[name="usernameid"]').val(),
                            'nama': $('[name="nama"]').val(),
                            'password': $('[name="password"]').val(),
                            'email': $('[name="email"]').val(),
                            'phone': $('[name="phone"]').val(),
                        }),
                        async: true,
                        headers: { 'X-XSRFToken': $('input[name="_xsrf"]').val() },
                        success: (function (result) {
                            $('#modal-activation').modal('hide');
                            $.notify({
                                title: '<strong><i class="fa fa-info-circle" aria-hidden="true"></i> Info</strong> <br>',
                                message: result.msg,
                            }, {
                                type: result.type,
                                animate: {
                                    enter: 'animated fadeInRight',
                                    exit: 'animated fadeOutRight'
                                }
                            });
                            tablePegawai.ajax.reload(null, false);
                        }),
                        error: (function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error: " + errorThrown);
                        })
                    });
                }
            });

        </script>
    {% end %}
</div>