<section class="box box-solid">
    <div class="box-header with-border text-center">
        <h3 class="box-title">
            <a class="btn btn-app bg-green" id="btnKembali" name="btnKembali">
                <i class="fa fa-undo" aria-hidden="true"></i> Kembali
            </a>
        </h3>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>INFORMASI REGISTER BERKAS:</h4>
            </div>
            <div class="col-sm-12">
                <div>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td style="width: 30%;"><strong>Kantor :</strong><p>{{ office['nama'].upper() }}</p></td>
                                <td style="width: 30%;"><strong>Pemohon Berkas :</strong><p>{{ pemohon['nama'] }} </p></td>
                                <td style="width: 30%;"><strong>Email :</strong><p>{{ register['email'] }}</p></td>
                            </tr>
                            <tr>
                                <td><strong>Nomor Berkas :</strong><p>{{ register['nomorberkas'] }} / {{ register['tahunberkas'] }}</p></td>
                                <td><strong>Petugas Register Masuk :</strong><p>{{ register['userregisterinname'] }}</p></td>
                                <td><strong>Status :</strong><p>{{ register['status'] }}</p></td>
                            </tr>
                            <tr>
                                <td><strong>Kegiatan :</strong><p>{{ register['kegiatan'] }}, {{ register['prosedur'] }}</p></td>
                                <td><strong>Tanggal Register</strong><p>Tgl. {{ register['userregisterindate'].strftime('%d/%m/%Y') }}</p></td>
                                <td><strong>Keterangan :</strong><p>{% if 'keterangan' in register.keys() %}{{ register['keterangan'] }}{% end %}</p></td>
                            </tr>
                            <tr>
                                <td><strong>Region :</strong><p>KEC. {{ register['kecamatannama'] }}, DS/KEL.{{ register['desanama'] }}</p></td>
                                <td><strong>Phone :</strong><p>{{ register['phone'] }}</p></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4> DAFTAR ISIAN: </h4>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="bg-gray">
                                <th class="text-center">Daftar Isian</th>
                                <th class="text-center">Nomor</th>
                                <th class="text-center">Tanggal</th>
                            </tr>
                            {% if register['daftarisian'] != None %}
                                {% for d in register['daftarisian'] %}
                                <tr>
                                    <td class="text-center">{{ d['typediid'] }}</td>
                                    <td class="text-center">{{ d['description'].split("-")[1].split(" No.")[1] }}</td>
                                    <td class="text-center">{{ d['description'].split("-")[1].split(", ")[0].split("Tgl.")[1] }}
                                    </td>
                                </tr>
                                {% end %}
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4> PRODUK: </h4>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" role="grid">
                        <tbody>
                            <tr class="bg-gray">
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th class="text-center">Produk</th>
                                <th class="text-center">Nomor</th>
                                <th class="text-center">Desa</th>
                            </tr>
                            {% if register['document'] != None %}
                                {% for p in register['document'] %}
                                <tr>
                                    {% if p['type'] == 'STP' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">SURAT TUGAS PENGUKURAN</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'PERSIL' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">NIB</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'GU' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">GAMBAR UKUR</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'SU' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">SURAT UKUR</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% elif p['type'] == 'HAK' %}
                                    <td style="display:none">{{ p['documentid'] }}</td>
                                    <td style="display:none">{{ p['type'] }}</td>
                                    <td class="text-center">BUKU TANAH</td>
                                    <td class="text-center">{{ p['nomor'] }}</td>
                                    <td class="text-center">{{ p['wilayah'] }}</td>
                                    {% end %}
                                </tr>
                                {% end %}
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#btnKembali").click(function () {
        location.reload(true);
    });
</script>