<div class="box-header">
    <h3 class="box-title">Informasi User</h3>
</div>
<div class="box-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nip">NIP :</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" class="form-control" id="nip" name="nip">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gelardepan">Gelar Depan :</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" class="form-control" id="gelardepan" name="gelardepan">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nama">Nama :</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" class="form-control" id="nama" name="nama">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gelarbelakang">Gelar Belakang :</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" class="form-control" id="gelarbelakang" name="gelarbelakang">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Phone :</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
        </div>
    </form>
</div>