{% extends "../../index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('vendor/bootstrap/dist/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ static_url('vendor/font-awesome/css/font-awesome.css') }}">
<link rel="stylesheet" href="{{ static_url('vendor/Ionicons/css/ionicons.css') }}">
<link rel="stylesheet" href="{{ static_url('css/init.css') }}">
<link rel="stylesheet" href="{{ static_url('css/skin-blue.css') }}">
{% end %}

{% block title %}
{{ escape(handler.settings["title"]) }} | {{ page['title'] }}
{% end %}

{% block js %}
<script src="{{ static_url('vendor/jquery/dist/jquery.js') }}"></script>
<script src="{{ static_url('vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ static_url('js/init.js') }}"></script>
{% end %}

{% block content %}
<section class="content-header">
    <h1>
        {{ page['title'] }}
        <small>{{ page['description'] }}</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Home</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-folder-open"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Berkas Masuk</span>
                    <span class="info-box-number">{{ berkasmasuk }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-folder-open"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Proses</span>
                    <span class="info-box-number">{{ berkasproses }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-folder-open"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Tunda</span>
                    <span class="info-box-number">{{ berkastunda }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-folder-open"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Selesai</span>
                    <span class="info-box-number">{{ berkasselesai }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</section>
{% end %}