{% extends "../../index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('vendor/bootstrap/dist/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ static_url('vendor/font-awesome/css/font-awesome.css') }}">
<link rel="stylesheet" href="{{ static_url('vendor/Ionicons/css/ionicons.css') }}">
<link rel="stylesheet" href="{{ static_url('css/init.css') }}">
<link rel="stylesheet" href="{{ static_url('css/skin-blue.css') }}">
{% end %}

{% block title %}
{{ escape(handler.settings["title"]) }} | {{ page['title'] }}
{% end %}

{% block js %}
<script src="{{ static_url('vendor/jquery/dist/jquery.js') }}"></script>
<script src="{{ static_url('vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ static_url('js/init.js') }}"></script>
{% end %}

{% block content %}
<section class="content-header">
    <h1>
        {{ page['title'] }}
        <small>{{ page['description'] }}</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Home</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-android-exit"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Berkas Masuk</span>
                    <span class="info-box-number">{{ berkas['masuk'] }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="ion ion-android-document"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Proses</span>
                    <span class="info-box-number">{{ berkas['proses'] }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-android-remove-circle"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Tunda</span>
                    <span class="info-box-number">{{ berkas['tunda'] }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-flag"></i></span>
        
                <div class="info-box-content">
                    <span class="info-box-text">Berkas Selesai</span>
                    <span class="info-box-number">{{ berkas['selesai'] }} <small> Berkas</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
    <div class="box box-solid">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <h5> <strong>Update Data:   {{ datetime.datetime.now().strftime('%d/%m/%Y, %H:%M:%S') }}</strong> </h5>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table  class="table table-bordered table-hover" role="grid" >
                            <tbody>
                                <tr>
                                    <th class="text-center">Nama</th>
                                    <th class="text-center">Berkas Masuk</th>
                                    <th class="text-center">Tunggakan</th>
                                    <th class="text-center">Terkirim</th>
                                    <th class="text-center">Belum Diterima</th>
                                    <th class="text-center">Sudah Diterima</th>
                                </tr>
                                {% if cal_berkas != None %}
                                    {% for c in cal_berkas %}
                                    <tr>
                                        <td class="text-center">{{ c['nama'].upper() }}</td>
                                        <td class="text-center">{{ c['berkas'] }}</td>
                                        <td class="text-center">{{ c['tunggakan'] }}</td>
                                        <td class="text-center">{{ c['selesai'] }}</td>
                                        <td class="text-center">{{ c['selesai_blm_terima'] }}</td>
                                        <td class="text-center">{{ c['selesai'] - c['selesai_blm_terima'] }}</td>
                                    </tr>
                                    {% end %}
                                {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}